.canvas {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border: 1px solid #e2e2e2;
  .rectangle {
    position: absolute;
    border: 1px solid black;
    top: 0;
    left: 0;
  }
}
